 {% extends 'base.html' %}
 {% load static %}
 {% block title %}
 <title>Index-Taskmate</title>
     {% endblock title %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-4">
                <img src="{% static 'images/note1.jpg' %}" alt="Note1"  class="rounded-lg shadow-sm" width="360" height="250">
            </div>
            <div class="col-lg-4">
               <img src="{% static 'images/note1.jpg' %}" alt="Note1"class="rounded-lg shadow-sm" width="360" height="250">
            </div>
            <div class="col-lg-4">
                <img src="{% static 'images/note1.jpg' %}" alt="Note1" class="rounded-lg shadow-sm" width="360" height="250">
            </div>
        </div>

    
        <div class="row mt-5">
            <div class="col-md-10 offset-md-1">  
                <center><p class="h1">Quick and easy to use.Anywhere,Anytime</p></center>
                <center><p class="h2 mt-3">"Plan your day better,Get your life organized"</p></center>
                <center><p class="h5">Taskmate let ur keep track on you tasks</P></center>

                <center><a href="{% url 'todolist' %}"><button type="button" class="btn btn-primary btn-lg mt-3 shadow">Let's get started</button></center>
            </div>
        </div>
    </div>
{% endblock content %}